<div *ngIf="User; else fuck">
  <h2>Name: {{User.name}}</h2>
  <h3>Email: {{User.email}}</h3>
  <h3>User Id: {{User.uid}}</h3>
  <h3>Role: {{User.role}}</h3>
  <form [formGroup]="userForm" (ngSubmit)="update()">
  <div class="form-group">
    <label>Bio:</label>
    <input type="bio" class="form-control" formControlName="bio" placeholder="{{User.bio}}">
  </div>
  <div class="form-group">
    <button class="button" type="submit">Save</button>
  </div>
  </form>
  <a class="nav-link" routerLink="//buy">Click here to go to start buying stuff</a>
</div>

<ng-template #fuck>
  <h1>Loading</h1>
</ng-template>
